* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: var(--base-font-size);
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 375px;
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-container {
    width: 340px;
    margin: 75px 0px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.text-area {
    background-color: var(--dark-desaturated-blue);
    padding: 35px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
h1, h2, p li {
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    font-weight: 700;
}
p {
    text-align: center;
    font-size: 1rem;
    color: var(--transparent-white-75);
    padding: 15px 0 30px;
}
span {
    color: var(--soft-violet);
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
li {
    padding: 20px 0px;
    font-family: "Lexend Deca";
    font-variant: small-caps;
    font-size: 1rem;
    color: var(--transparent-white-75);
}
h2 {
    font-size: 1.4rem;
    color: white;
}
.image-area {
    background-color: var(--soft-violet);
}
img {
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    mix-blend-mode: multiply;
}
#desktop-image {
    display: none;
}
footer {
    display: none;
    color: black;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}